.card {
  margin: 5px;
  transition: box-shadow .3s;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 15px;
    margin: 10px;
  }
  p {
    margin: 5px;
    font-size: 15px;
  }

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);

  }



  img {
    margin: 5px;
    width: 100px;
    height: 100px;
    max-width: 100%;


  }
}
.totalCarrito{
  
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 100px;


  
  
}






// .main-productos-carrito {
    
//     grid-area: main-productos;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-gap: 20px;
//     margin: 0 auto;

 

    












//     button {
//       margin: 5px;
//       width: 50%;
//       height: 25px;
//     }

//   }